
form{
    margin-top: 1.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    float: left;
    display:inline-block;
}
div{
}
input{
    float:left;
    vertical-align: center;
    display:inline-block;
}
#addressText{
    float:left;
}
#dem{
    font-weight: normal;
    clear:all;
}
#gop{
    float: right;
    clear:all;
}
#demParty{
}
#gopParty{
    float:right;
    clear: all;

}
/*
#contestTable{weee
    display:table;         
    width:800px;         
    background-color:#eee;         
    border:1px solid  #666666;         
    border-spacing:5px;
}
#politician{
    float:left;/*fix for  buggy browsers
    display:table-column;         
    width:400px;  
    border: none;
    font-weight: normal;
    border-spacing:5px;       
}
#polyRow{
    text-align: center;
}
#party{
    margin-right: 400px;
    margin-bottom: 20px;
}
#contest{
    text-align:left;/*fix for  buggy browsers
    width:400px;
     border-spacing:5px 
    
}
#bigContest{
    text-align: left;
     border-spacing:5px
}
*/
ul {
    top:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
    float: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}