
form{
    margin-top: 1.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
table {
    width: 1500px;
    border : 1px solid black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: separate;
}
td{
    width:750px;
    text-align: center;
    border : 1px solid black;
}
th{

}
ul {
    top:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
    float: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}